# Git-related files and directories
.git
.gitignore

# IDE-specific files and directories (IntelliJ, VS Code)
.idea
.vscode

# IntelliJ IDEA project files
*.iml
*.iws
*.ipr

# Build output directory for Java/Maven projects
target/

# Log files
*.log
